.Button2 {
    display: flex;
    text-align: center;
    min-height: 42px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    z-index: 2;
    box-sizing: border-box;

    & > button {
        cursor: pointer;
        box-sizing: border-box;
        flex: 1;
        min-height: 42px;
        display: flex;
        font-family: 'Roboto', 'sans-serif';
        align-items: center;
        font-weight: bold;
        justify-content: center;
        justify-content: stretch;
        padding: 0 16px;
        color: rgba(255,255,255,0.84);
        border: 1px solid rgba(255,255,255,0.36);
        font-size: 16px;
        outline: none;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
        user-select: none;

        &:active {
            box-shadow: 0px 0px 2px rgba(0,0,0,1) inset;
        }

        &.Button2--primary {
            background: linear-gradient(to bottom, hsl(106, 20, 38) 0%,hsl(106, 20, 35) 100%);
            &:hover {
                background:  hsl(106, 20, 43); 
            }
            &:active {
                outline: none;
                background: linear-gradient(to bottom, hsl(106, 20, 38) 0%,hsl(106, 20, 32) 100%);
            }
        }

        &.Button2--secondary {
            background: linear-gradient(to bottom, hsl(220, 44, 40) 0%,hsl(220, 44, 37) 100%);
            &:hover {
                background:  hsl(220, 44, 45);
            }
            &:active {
                outline: none;
                background: linear-gradient(to bottom, hsl(220, 44, 40) 0%,hsl(220, 44, 35) 100%);
            }
        }

        &.Button2--info {
            background: linear-gradient(to bottom, hsl(268, 23%, 40%) 0%,hsl(268, 23%, 37%) 100%);
            &:hover {
                background: hsl(268, 25%, 45%);
            }
            &:active {
                outline: none;
                background: linear-gradient(to bottom, hsl(268, 23%, 40%) 0%,hsl(268, 23%, 37%) 100%);
            }
        }

        &.Button2--important {
            background: linear-gradient(to bottom, hsl(40, 50%, 35%) 0%,hsl(40, 50%, 32%) 100%);
            &:hover {
                background:  hsl(39, 55, 40);
            }
            &:active {
                outline: none;
                background: linear-gradient(to bottom, hsl(40, 50%, 35%) 0%,hsl(40, 50%, 30%) 100%);
            }
        }

        &.Button2--warning {
            background: linear-gradient(to bottom, hsl(360, 30%, 46%) 0%,hsl(360, 30%, 41%) 100%);
            &:hover {
                background:  hsl(360, 30%, 49%) 
            }
            &:active {
                outline: none;
                background: linear-gradient(to bottom, hsl(360, 30%, 46%) 0%,hsl(360, 30%, 38%) 100%);
            }
        }
    }
}