.PackItem {
    padding: 8px 8px 8px 8px;
    display: flex;
    font-size: 12px;
    text-align: left;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    box-shadow: 0px 0px 2px rgba(0,0,0,1) inset;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,0.24) !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    transition: background-position 0.2s ease-out;

    svg {
        filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.4));
    }

    .StatChip {
        display: flex;
        margin-right: 16px;
    }
}
    .PackItem__rarity--Common {
        background: #f0f0f0;
    }
    .PackItem__rarity--Uncommon {
        background-color:  hsl(106, 23%, 33%);
        //transition: background-color 0.2s, background-position 0.2s ease-out;
        background:
            linear-gradient(115deg, transparent 75%, rgba(255,255,255,.05) 75%) -7px 15px,
            linear-gradient(245deg, transparent 75%, rgba(255,255,255,.05) 75%) 0 0,
            linear-gradient(115deg, transparent 75%, rgba(255,255,255,.05) 75%) 7px -15px,
            linear-gradient(245deg, transparent 75%, rgba(255,255,255,.05) 75%) 14px -30px,
            hsl(106, 23%, 33%);
        color: white;

        &:hover {
            background-color:  hsl(106, 20%, 38%);
            background:
                linear-gradient(115deg, transparent 75%, rgba(255,255,255,.05) 75%) -7px 15px,
                linear-gradient(245deg, transparent 75%, rgba(255,255,255,.05) 75%) 0 0,
                linear-gradient(115deg, transparent 75%, rgba(255,255,255,.05) 75%) 7px -15px,
                linear-gradient(245deg, transparent 75%, rgba(255,255,255,.05) 75%) 14px -30px,
                hsl(106, 20%, 38%);
                background-position: 20% 20%
        }
    }
    .PackItem__rarity--Rare {
        background-color: hsl(220, 44%, 40%);
        //transition: background-color 0.2s, background-position 0.2s ease-out;
        background:
        linear-gradient(115deg, transparent 75%, rgba(255,255,255,.05) 75%) 0 0,
        linear-gradient(245deg, transparent 75%, rgba(255,255,255,.05) 75%) 0 0,
        linear-gradient(115deg, transparent 75%, rgba(255,255,255,.05) 75%) 7px -15px,
        linear-gradient(245deg, transparent 75%, rgba(255,255,255,.05) 75%) 7px -15px,
        hsl(220, 44%, 40%);
        color: white;

        &:hover {
            background-color:  hsl(220, 40%, 45%);
            background:
                linear-gradient(115deg, transparent 75%, rgba(255,255,255,.05) 75%) -7px 15px,
                linear-gradient(245deg, transparent 75%, rgba(255,255,255,.05) 75%) 0 0,
                linear-gradient(115deg, transparent 75%, rgba(255,255,255,.05) 75%) 7px -15px,
                linear-gradient(245deg, transparent 75%, rgba(255,255,255,.05) 75%) 14px -30px,
                hsl(220, 40%, 45%);
                background-position: 20% 20%
        }
    }
    .PackItem__rarity--Masterwork {
        background-color: hsl(268, 45%, 30%);
        //transition: background-color 0.2s, background-position 0.2s ease-out;
        background:
        linear-gradient(115deg, transparent 75%, rgba(255,255,255,.05) 75%) 0 0,
        linear-gradient(245deg, transparent 75%, rgba(255,255,255,.05) 75%) 0 0,
        linear-gradient(115deg, transparent 75%, rgba(255,255,255,.05) 75%) 7px -15px,
        linear-gradient(245deg, transparent 75%, rgba(255,255,255,.05) 75%) 7px -15px,
        hsl(268, 45%, 30%);
        color: white;

        &:hover {
            background-color: hsl(268, 40%, 34%);
            background:
            linear-gradient(115deg, transparent 75%, rgba(255,255,255,.05) 75%) 0 0,
            linear-gradient(245deg, transparent 75%, rgba(255,255,255,.05) 75%) 0 0,
            linear-gradient(115deg, transparent 75%, rgba(255,255,255,.05) 75%) 7px -15px,
            linear-gradient(245deg, transparent 75%, rgba(255,255,255,.05) 75%) 7px -15px,
            hsl(268, 40%, 34%);
            background-position: 20% 20%
        }
    }
    .PackItem__rarity--Unique {
        background-color: hsl(40, 80, 30%);
        background:
            linear-gradient(115deg, transparent 75%, rgba(255,255,255,.05) 75%) 0 0,
            linear-gradient(245deg, transparent 75%, rgba(255,255,255,.05) 75%) 0 0,
            linear-gradient(115deg, transparent 75%, rgba(255,255,255,.05) 75%) 7px -15px,
            linear-gradient(245deg, transparent 75%, rgba(255,255,255,.05) 75%) 7px -15px,
            hsl(40, 100, 30%);
        //background-size: 15px 30px;
        color: white;
    }
    .PackItem__rarity--BlackMarket {
        background-color: hsl(0, 0%, 13%);
        color: white;
        background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
        .PackItem__modifiers {
            background-color: rgba(0,0,0,0.54);
        }

        //transition: background-color 0.2s ease;
        &:hover {
            background-color: hsl(0, 0%, 18%);
        }
    }
    
    .PackItem__stats {
        display: flex;
        width: 100%;
    }
        .PackItem__stats--power {
            display: block;
            font-size: 38px;
            height: 38px;
            line-height: 38px;
            padding: 8px 0;
            margin-right: 8px;
            font-weight: bold;
            display: flex;
        }
        .PackItem__stats--group {
            display: flex;
            flex-direction: column;
            padding: 4px 8px;
            margin: 0;
        }
            .PackItem__stats--group > div {
                width: 100%;
                height: 20px;
                line-height: 20px;
                clear: both;
            }

    .PackItem__modifiers {
        background-color: rgba(0,0,0,0.46);
        // box-shadow: 0px 0px 2px rgba(0,0,0,1) inset;
        box-sizing: border-box;
        color: black;
        padding: 8px 16px;
        text-indent: -8px;
        letter-spacing: 1px;
        // margin-top: 8px;
        flex: 1;

        .PackItem__modifier--buff {
            color: greenyellow;
            margin-bottom: 4px;
        }
        .PackItem__modifier--debuff {
            color: lightcoral;
            margin-bottom: 4px;
        }
        & > div:last-child {
            margin-bottom: 0;
        }
    }
