.PackCharacterItemList {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;

    & > div {
        width:  100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: stretch;
        min-height: 120px;

        & > div {
            width: 50%;

            @media(max-width: 1286px) {
                width: 100%;
            }


            & > div {
                display: flex;
                width: calc(100% - 2px);
            }
        }

        &:first-child > div {
            width: 100%;
        }
    }
}