.BattleCharacter {
    //background: #444;
    // width: 370px; 
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;

    &__avatar {
        width: 120px;
        & > div {
            border: 1px solid black;
        }
    }

    .CharacterAvatar {
        z-index: 2;
    }
}