.BattleCharacter {
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);

    &__avatar {
        & > div {
            border: 1px solid black;
        }
    }

    .CharacterAvatar {
        z-index: 2;
    }

    .ZeroGuage {
        border-left: none;
        &__content {
            border-left: none;
        }

        &.reverse {
            border-right: none;
            border-left: 1px solid black;
            .ZeroGuage__content {
                border-right: none;
                border-left: 1px solid rgba(255,255,255,0.24);
            }
        } 
    }
}