.RoomChat {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto', 'sans-serif';

    &__body {
        background: hsl(0,0,25%);
        color: white;
        flex: 1;
        overflow-y: auto;
    }

    &__message {
        display: flex;
        flex-direction: column;
        padding: 8px;
        //margin-bottom: 8px;

        &__message {
            display: flex;
            & > div {
                margin-right: 4px;
            }
        }
    }

    &__input {
        display: flex;
        background: hsl(0,0,25%);
        padding: 8px;
        textarea {
            flex: 1;
            min-height: 48px;
            max-height: 48px;
            transition: min-height 0.2s, max-height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            padding: 8px;
            border: none;
            color: white;
            //border-top: 1px solid rgba(0,0,0,0.36);
            background: rgba(255,255,255,0.24);
            border-radius: 8px;
            &::placeholder {
                color: white;
            }

            &:focus {
                min-height: 72px;
                max-height: 72px;
                outline: none;
            }
        }
    }
}