.CharacterSelectSidebar {
    background-color: hsl(0, 0%, 15%);
    border: 1px solid rgba(0,0,0,1);
    border-right: none;
    border-top: none;
    color: white;
    width: 100%;
    box-sizing: border-box;
    min-height: 120px;
    max-height: 120px;
    // padding: 4px;
    display: flex;

    .CharacterAvatar {
        box-shadow: none;
        overflow: hidden;
    }
}