.CharacterSelectSidebar {
    //background-color: #333;
    background-color: rgba(255,255,255,0.99);
    background-color: rgba(0,0,0,0.84);
    border-right: 1px solid rgba(0,0,0,1);
    color: white;
    min-height: calc(100% - 0px);
    width: 100px;
    min-width: 120px;
    // padding: 4px;
    display: flex;
    flex-direction: column;

    &__dot {
        height: 8px;
        width: 8px;
        background-color: white;
        border-radius: 9999px;
    }

    .CharacterAvatar {
        box-shadow: none;
        margin-bottom: 4px;
        width: calc(100% - 0px);
        // border: 1px solid rgba(0,0,0,0.12);
        // border-radius: 8px;
        overflow: hidden;
    }

    &__maxedOut {
        color: rgba(255,255,255,0.44);
        font-weight: bolder;
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-align: center;
    }
}