.Session {
    display: flex;
    flex-direction: column;
    width: 100%;   
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;

    &__main {
        flex: 1;
        display: flex;
        background: rgba(0,0,0,0.24);
        border-top: 1px solid rgba(0,0,0,1);
        max-height: calc(100% - 56px);
        min-height: calc(100% - 56px);
    }

    &__details {
        flex: 1;
        display: flex;
        flex-direction: column;

        .CharacterCard, .CharacterChip {
            width: 33%;
            max-height: 100%;
            min-height: 100%;
            min-width: 407px;
        }
    }
}