.CharacterSidebar {
    flex: 1;
    overflow-y: auto;
    color: rgba(255,255,255,0.54);
    padding: 0px;
    background: rgba(0,0,0,0.24);

    &__empty {
        width: 100%;
        text-align: center;
        height: 72px;
        line-height: 72px;
    }

    & > div > div {
        border-right-width: 2px !important;
    }

    /*
    .CharacterCard {
        min-height: unset;
        height: auto;
        margin-bottom: 4px;
        width: calc(100% - 3px);
        border-bottom-left-radius: 0;
        border-radius: 8px;

        &__body__contents {
            justify-content: space-between;
        }

        &__body__contents--foil {
            display: none;
        }

        &__body__image {
            position: absolute;
        }

        &__body__stats {
            position: relative;
            min-height: 48px;
        }

        &__body__skills {
            position: relative;
            flex: unset;
        }
    }
    */
}