.Battle {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: hsl(0, 0, 24);
    font-family: 'Roboto', 'Sans-serif';
    &__body {
        display: flex;
        flex: 1;
        height: 100%;
        // background-color: rgba(0,0,0,0.12);
    }

    .Room__search {
        height: 39px;
        line-height: 48px;
        border: 1px solid rgba(0,0,0,1);
        // margin-right: 4px;
        width: 290px;
        padding-left: 8px;
    }

    &__sidebar {
        display: flex;
        flex-direction: column;
        width: 407px;
        height: 100%;
        overflow-y: auto;
        box-sizing: border-box;
        border-left: 1px solid rgba(0,0,0,1);
        border-right: 1px solid rgba(0,0,0,1);

        &__body {
            height: calc(100% - 58px);
        }
    }

    &__user {
        &--name {
            color: white;
            font-weight: bold;
            
            &.creator {
                color: hsl(40, 55, 60);
            }

            &.user {
                color: hsl(268, 40%, 60%);
            }
        }
    }
}
