.PackCharacter {
    z-index: 2;
    height: 540px;
    width: 350px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    // font-family: monospace;

    border-radius: 4px 0 4px 4px;
    border: 8px solid white;
    border-bottom: 16px solid white;
    border-color: #222 !important;
   // border-right: 5px solid white;
   // border-top: 5px solid white;
   border-left: 16px solid;
    // box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    overflow: hidden;
    color: white;

    .foil {
        background:
        radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
        radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
        radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
        radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
        radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
        radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
        linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
        background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
        background-color: #840b2a;
    }

    img { 
        box-shadow: 0px 0px 3px rgba(0,0,0,0.7) inset;
        background: white;
    }

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        box-shadow: 0px 0px 3px rgba(0,0,0,0.7) inset;
    }

    &__details {
        // box-shadow: 0px 0px 3px rgba(0,0,0,0.7) inset;
        display: flex;
        position: relative;
        z-index: 3;
        flex-direction: column;
    }

    &__name {
        flex: 1;
        font-size: 18px;
        line-height: 28px;
        padding: 8px;
        padding-top: 0;
        padding-left: 0;
        font-weight: bold;
        text-align: left;
        text-shadow: 1px 0px 1px rgba(0,0,0,0.7);
        background: #222;
    }

    &__type {
        display: flex;
        flex-direction: column;
        padding: 0 6px;
        padding-top: 8px;
        padding-right: 0px;
        background-color: rgba(255, 255, 255, 1);
        //
        &--chip {
            //background-color: rgba(255,255,255,0.2);
            //margin-right: 4px;
            //padding: 0 5px;
            //border-radius: 9999px;
            padding: 4px;
            svg {
                filter: drop-shadow( 0px 1px 0px rgba(0, 0, 0, 0.3));
            }
        }
    }

    &__stats {
        text-align: center;
        padding: 8px;
        padding-top: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-shadow: 1px 0px 1px rgba(0,0,0,0.7);
        &--icon {
            //margin-right: 8px;
        }
        &--bar {
            line-height: 24px;
            font-weight: bold;
            flex: 1;
            font-size: 24px;
            text-align: center;
            //font-family: monospace;
        }
    }

    &__skills {
        position: absolute;
        bottom: 0;
        flex: 1;
        z-index: 3;
        width: 100%;
        //background-color: rgba(0,0,0,0.66);
        background-color: rgba(255,255,255,0.78);
        font-weight: bold; 
       // text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
        //border-radius: 4px;
       // margin: 8px; 
       // color: rgba(255,255,255, 0.92);
       color: black;
        text-align: left;
        line-height: 1.2;

        &__skill {
            position: relative;
            padding: 8px; 
            //border-bottom: 1px solid #ddd;
            //border-top: 1px solid #fff;

            .desc {
                & > * {
                    padding-right: 4px;
                }
            }
        }

        p {
            margin: 0;
            line-height: 20px;

            strong {
                line-height: 24px;
                font-size: 18px;
            }
        }

        .cooldown {
            opacity: 0.66;
            position: absolute;
            display: flex;
            top: 8px;
            right: 8px;
        }
    }

    &.PackCharacter__rarity--Common {
        border-color: #f0f0f0; color: black; 
        
    }
    &.PackCharacter__rarity--Uncommon {
        border-color:  #489030;
    }
    &.PackCharacter__rarity--Rare {
        border-color: #3A5894;
    }
    &.PackCharacter__rarity--Masterwork {
        border-color: #380474;
    }
    &.PackCharacter__rarity--Unique {
       border-color: rgb(239, 176, 58);//rgb(204, 135, 6);
    }
    &.PackCharacter__rarity--BlackMarket {
        border-color: hotpink;
    }
}